scheduler:
  target: diffusers.LCMScheduler
  num_inference_timesteps: 1
  params:
    num_train_timesteps: 1000
    beta_start: 0.00085
    beta_end: 0.012
    beta_schedule: 'scaled_linear'
    clip_sample: false
    set_alpha_to_one: false
